body
{
    text-align: center;
}

div
{
    width: 50%;
    height: fit-content;
    display: inline-block;
}

div.leftAlign
{
    text-align: left;
}

span
{
    display: none;
}

#UI
{
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-block;
}

#UI tr{
    padding: 0;
    height: 100px;
}

#UI tr td{
    padding: 0;
    width: 100px;
    height: 100px;
}

#UI tr td img
{
    width: 90%;
}

.verticalCenterParent
{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

.verticalCenter
{
    width: 200px;
    height: 100px;
    text-align: center;
    display:inline;
    margin: auto;
}